
<link rel="stylesheet" href="~/css/PageDesignes.css" asp-append-version="true" />


<body>
	<article>
		<h1>Customers</h1>
		<div class="input_with_buttons">

			<form asp-action="SearchCustomerByName" method="get" class="input-group">
				<input name="name" type="text" class="form-control" placeholder="Search">
				<button class="btn btn-outline-secondary" type="submit">Search</button>
				<a class="btn btn-outline-secondary second-button" 
				asp-controller="Customer" 
				asp-action="GetCustomers">Back To List
				</a>
			</form>


			<div class="create">
				<a asp-controller="Customer" asp-action = "Create" class="btn btn-primary">
					Add Customer
				</a>
			</div>
		</div>

		<div class="table-section"> 
			<table class="table bg-danger table-hover table-striped table-bordered">
				<thead class="table-dark">
					<tr>
						<th scope="col">FullName</th>
						<th scope="col">Email</th>
						<th scope="col">Phone</th>
						<th scope="col">Etnicity</th>
						<th scope="col">Date of Birth</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody class="data table-light">
					@foreach (var obj in Model)
					{
						<tr class="table-row">
							<td>@obj.FullName</td>
							<td>@obj.Email</td>
							<td>@obj.Phone</td>
							<td>@obj.Etnicity</td>
							<td>@obj.DateOfBirth.ToString("MM/dd/yyyy")</td>
							<td><a asp-controller="Customer" asp-action = "Edit" asp-route-id ="@obj.Id" class="btn btn-primary">Edit</a></td>
						</tr>	
					}					
				</tbody>
			</table>
		</div>

	</article>
</body>
